<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Job Vacancy List</title>
  <layout:fragment name="head">
    <link rel="stylesheet" href="../style/style.css">
  </layout:fragment>
</head>
<body>
<main class="flex-shrink-0">
  <section layout:fragment="body">

    <div class="user-information-container">
      <div class="user-icon">
        <i class="fi fi-rr-circle-user"></i>
      </div>
      <div class="user-information">
        <div th:text="${email}"></div>
      </div>
    </div>

    <div class="create-job-vacancy">
      <a th:href="@{/employer/job-vacancy/create}" class="create-job-vacancy-text">Create Job Vacancy</a>
    </div>

    <div class="vacancy-container">
      <div th:each="jobVacancy, index :${jobVacancies}" class="vacancy-block">
        <a th:href="@{/employer/job-vacancy/{id}(id=${jobVacancy.id})}" class="vacancy-detail-link">
                    <span>
                        <div>
                            <div>
                                <p th:text="${jobVacancy.jobType}" class="vacancy-text"></p>
                            </div>
                            <div>
                                <span>
                                    <p th:text="${jobVacancy.salary} + ' ' + ${jobVacancy.currency}" class="vacancy-text"></p>
                                </span>
                            </div>
                        </div>
                        <div class="icons-edit-delete">
                            <a th:href="@{/employer/job-vacancy/edit/{id}(id=${jobVacancy.id})}" class="icon-edit-delete"><i class="fi fi-rr-edit"></i></a>
                            <a th:href="@{/employer/job-vacancy/delete/{id}(id=${jobVacancy.id})}" class="icon-edit-delete"><i class="fi fi-rr-cross-circle"></i></a>
                        </div>
                    </span>
        </a>
      </div>
    </div>
  </section>
</main>
</layout:fragment>
</body>
</html>