<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Job Vacancy List</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="vacancy-container">
            <div th:each="jobVacancy, index :${jobVacancies}" class="vacancy-block">
                <a th:href="@{/job-vacancy/{id}(id=${jobVacancy.id})}" class="vacancy-detail-link">
                    <span>
                        <div>
                            <div>
                                <p th:text="${jobVacancy.jobType}" class="vacancy-text"></p>
                            </div>
                            <div>
                                <span>
                                    <p th:text="${jobVacancy.salary} + ' ' + ${jobVacancy.currency}" class="vacancy-text"></p>
                                </span>
                            </div>
                        </div>
                    </span>
                </a>
            </div>
        </div>

        <div class="search-container">
            <form role="form" method="post" th:action="@{/job-vacancy/all}" th:object="${jobVacancySearchRequest}">
                <div >
                    <p class="vacancy-text">Search</p>
                    <div class="login-username">
                        <label>Job Type</label>
                        <input
                                type="text"
                                class="login-username-input"
                                th:field="*{jobType}"
                                placeholder="Job Type">
                    </div>

                    <div class="login-username">
                        <span>
                        <label for="salaryMin">Salary Min</label>
                        <input
                                type="number"
                                class="salary-input"
                                id="salaryMin"
                                name="salary"
                                th:field="*{salaryMin}"
                                placeholder="Salary Min">
                        <select
                                class="currency-select"
                                id="currencyMin"
                                th:field="*{currencyMin}">
                                <option value="USD">USD</option>
                                <option value="BYN">BYN</option>
                        </select>
                        </span>
                    </div>

                    <div class="login-username">
                        <span>
                        <label for="salaryMax">Salary Max</label>
                        <input
                                type="number"
                                class="salary-input"
                                id="salaryMax"
                                name="salaryMax"
                                th:field="*{salaryMax}"
                                placeholder="Salary Max">
                        <select
                                class="currency-select"
                                id="currencyMax"
                                th:field="*{currencyMax}">
                                <option value="USD">USD</option>
                                <option value="BYN">BYN</option>
                        </select>
                        </span>
                    </div>

                    <div class="skills">
                        <p>Skills</p>
                        <div th:each="skill, index : ${jobVacancySearchRequest.skills}">
                            <input
                                    type="text"
                                    class="skill-input"
                                    th:field="*{skills[__${index.index}__].skill}"
                                    th:placeholder="'Skill ' + ${index.index + 1}"/>
                        </div>

                        <div id="skillContainer" class="skill-container"></div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var skillCount = [[${jobVacancySearchRequest.skills != null ? jobVacancySearchRequest.skills.size : 0}]] + 1;

                            $("#btnAddSkill").on("click", function() {
                                var newSkillInput = $("<input>").attr("type", "text")
                                    .attr("name", "skills[" + (skillCount - 1) + "]")
                                    .addClass("skill-input")
                                    .attr("placeholder", "Skill " + skillCount);

                                $("#skillContainer").append(newSkillInput);
                                skillCount++;
                            });
                        });
                    </script>

                    <span class="search-button-container">
                        <button type="submit" class="search-button">Search</button>
                        <button id="btnAddSkill" type="button" class="add-skill-search-button">Add Skill</button>
                    </span>
                </div>
            </form>
        </div>
    </section>
</body>
</html>