<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Job Vacancy List</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="vacancy-container">
            <div th:each="jobVacancy, index :${jobVacancies}" class="vacancy-block">
                <a th:href="@{/job-vacancy/{id}(id=${jobVacancy.id})}" class="vacancy-detail-link">
                    <span>
                        <div>
                            <div>
                                <p th:text="${jobVacancy.jobType}" class="vacancy-text"></p>
                            </div>
                            <div>
                                <span>
                                    <p th:text="${jobVacancy.salary} + ' ' + ${jobVacancy.currency}" class="vacancy-text"></p>
                                </span>
                            </div>
                        </div>
                    </span>
                </a>
            </div>
        </div>

        <div>
            <form role="form" method="post" th:action="@{/job-vacancy/all}" th:object="${jobVacancySearchRequest}">
                <div class="search-container">
                    <p class="vacancy-text">Search</p>
                    <div class="login-username">
                        <label>Job Type</label>
                        <input
                                type="text"
                                class="login-username-input"
                                th:field="*{jobType}"
                                placeholder="Job Type">
                    </div>

                    <button type="submit" class="create-button">Search</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>