<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<section layout:fragment="body">
    <div>
        <div>
            <div th:if="${param.fail}" class="invalid-login">
                <p class="invalid-login-text"> Username or email already exists</p>
            </div>
            <div>
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                    <div class="login-username">
                        <label>Username</label>
                        <input
                                type="text"
                                placeholder="Username"
                                th:field="*{username}"
                                class="login-username-input">
                    </div>
                    <p th:if="${#fields.hasErrors('username')}"></p>
                    <div class="login-username">
                        <label>Email</label>
                        <input
                                type="text"
                                placeholder="Email"
                                th:field="*{email}"
                                class="login-username-input">
                    </div>
                    <p th:if="${#fields.hasErrors('email')}"></p>
                    <div class="login-username">
                        <label>Password</label>
                        <input
                                type="password"
                                placeholder="Password"
                                th:field="*{password}"
                                class="login-username-input">
                    </div>
                    <p th:if="${#fields.hasErrors('password')}" ></p>
                    <span class="role-continue-reg-block">
                        <div class="login-role">
                            <label for="role">Role</label>
                            <select
                                    class="login-role-select"
                                    id="role"
                                    th:field="*{role.name}">
                                <option value="EMPLOYER">EMPLOYER</option>
                                <option value="EMPLOYEE">EMPLOYEE</option>
                            </select>
                        </div>
                        <button th:href="@{/register}" type="submit" class="continue-reg-button">Continue Registration</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>
</html>