<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Register</title>
</head>
<section layout:fragment="body">
  <style>
    .main {
      padding: 0px 10px;
    }

    @media screen and (max-width: 450px) {
      .login-form{
        margin-top: 10%;
      }
      .register-form{
        margin-top: 10%;
      }
    }
    @media screen and (min-width: 768px){
      .main{
        margin-left: 30%;
      }

      .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }
  </style>
  <div>
    <div>
      <div th:if="${param.fail}">
        Username or email already exists</div>
      <div>
        <form method="post" role="form" th:action="@{/register/employer/save}" th:object="${employer}">
          <div>
            <label>Company</label>
            <input
                    type="text"
                    placeholder="Company"
                    th:field="*{company}">
          </div>
          <button th:href="@{/register/employer}" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
</html>