<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<section layout:fragment="body">
    <div>
        <div>
            <div th:if="${param.fail}">
                Username or email already exists</div>
            <div>
                <form method="post" role="form" th:action="@{/register/employee/save}" th:object="${employee}">
                    <div class="login-username">
                        <label>Name</label>
                        <input
                                type="text"
                                placeholder="Name"
                                th:field="*{name}"
                                class="login-username-input">
                    </div>
                    <div class="login-username">
                        <label>Surname</label>
                        <input
                                type="text"
                                placeholder="Surname"
                                th:field="*{surname}"
                                class="login-username-input">
                    </div>
                    <div class="login-username">
                        <label>Middle Name</label>
                        <input
                                type="text"
                                placeholder="Middle Name"
                                th:field="*{middleName}"
                                class="login-username-input">
                    </div>
                    <div class="login-username">
                        <label for="birthday">Birthday</label>
                        <input
                                type="date"
                                class="login-username-input"
                                id="birthday"
                                th:field="*{birthday}">
                        <p th:if="${#fields.hasErrors('birthday')}" class="text-danger" th:errors="*{birthday}"></p>
                    </div>
                    <div class="login-username">
                        <label>City</label>
                        <input
                                type="text"
                                placeholder="City"
                                th:field="*{city}"
                                class="login-username-input">
                    </div>
                    <div class="login-username">
                        <label>Phone Number</label>
                        <input
                                type="text"
                                placeholder="Phone Number"
                                th:field="*{phoneNumber}"
                                class="login-username-input">
                    </div>
                    <span class="role-continue-reg-block">
                        <div class="login-role">
                            <label for="gender">Gender</label>
                            <select
                                    class="login-role-select"
                                    id="gender"
                                    th:field="*{gender}">
                                <option value="true">Male</option>
                                <option value="false">Female</option>
                            </select>
                        </div>
                        <button th:href="@{/register/employee}" type="submit" class="continue-reg-button">Register</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>
</html>