<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Resume List</title>
</head>
<body>
    <span>
        <a th:href="@{/logout}">Logout</a>
        <a th:href="@{/Resume/new}">Create Resume</a>
    </span>
    <div th:each="resume, index :${resumes}">
        <div>
            <a th:text="${resume.jobType}"></a>
        </div>
        <div>
            <a th:text="${resume.skills}"></a>
        </div>
        <div>
            <a th:text="${resume.gitLink}"></a>
        </div>
        <span>
            <a th:href="@{/Resume/{id}(id=${resume.id})}">View</a>
            <a th:href="@{/Resume/edit/{id}(id=${resume.id})}">Edit</a>
            <a th:href="@{/Resume/delete/{id}(id=${resume.id})}">Delete</a>
        </span>
    </div>
</body>
</html>