<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Resume List</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="vacancy-container">
            <div th:each="resume, index :${resumes}" class="vacancy-block">
                <a th:href="@{/Resume/{id}(id=${resume.id})}" class="vacancy-detail-link">
                    <div>
                        <p th:text="${resume.jobType}" class="resume-text"></p>
                    </div>
                    <div>
                        <p th:text="${resume.skills}" class="resume-text"></p>
                    </div>
                    <div>
                        <p th:text="${resume.gitLink}" class="resume-text"></p>
                    </div>
<!--                <span>-->
<!--                    <a th:href="@{/Resume/{id}(id=${resume.id})}">View</a>-->
<!--                </span>-->
                </a>
            </div>
        </div>
    </section>
</body>
</html>