<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Resume Create</title>
</head>
<body>
<main>
    <a th:href="@{/Resume}">Redirect</a>

    <div>
        <form role="form" method="post" th:action="@{/Resume/new}" th:object="${resume}">
            <div>
                <label for="jobType">Job Type</label>
                <input
                        type="text"
                        class="form-control"
                        id="jobType"
                        name="jobType"
                        th:field="*{jobType}"
                        placeholder="Job Type">
                <p th:if="${#fields.hasErrors('jobType')}" class="text-danger" th:errors="*{jobType}"></p>
            </div>
<!--            <div>-->
<!--                <label for="name">Name</label>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        id="name" name="name"-->
<!--                        th:field="*{name}"-->
<!--                        placeholder="Name">-->
<!--                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="surname">Surname</label>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        id="surname"-->
<!--                        name="surname"-->
<!--                        th:field="*{surname}"-->
<!--                        placeholder="Surname">-->
<!--                <p th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="*{surname}"></p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="middleName">Middle Name</label>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        id="middleName"-->
<!--                        name="middleName"-->
<!--                        th:field="*{middleName}"-->
<!--                        placeholder="Middle Name">-->
<!--                <p th:if="${#fields.hasErrors('middleName')}" class="text-danger" th:errors="*{middleName}"></p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="birthday">Birthday</label>-->
<!--                <input-->
<!--                        type="date"-->
<!--                        class="form-control"-->
<!--                        id="birthday"-->
<!--                        name="birthday"-->
<!--                        th:field="*{birthday}">-->
<!--                <p th:if="${#fields.hasErrors('birthday')}" class="text-danger" th:errors="*{birthday}"></p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="city">City</label>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        id="city"-->
<!--                        name="city"-->
<!--                        th:field="*{city}"-->
<!--                        placeholder="City">-->
<!--                <p th:if="${#fields.hasErrors('city')}" class="text-danger" th:errors="*{city}"></p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="gender">Gender</label>-->
<!--                <select-->
<!--                        class="form-control"-->
<!--                        id="gender"-->
<!--                        name="gender"-->
<!--                        th:field="*{gender}">-->
<!--                    <option value="true">Male</option>-->
<!--                    <option value="false">Female</option>-->
<!--                </select>-->
<!--                <p th:if="${#fields.hasErrors('gender')}" class="text-danger" th:errors="*{gender}"></p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="phoneNumber">Phone Number</label>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        id="phoneNumber"-->
<!--                        name="phoneNumber"-->
<!--                        th:field="*{phoneNumber}"-->
<!--                        placeholder="Phone Number">-->
<!--                <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger" th:errors="*{phoneNumber}"></p>-->
<!--            </div>-->
            <div>
                <label for="gitLink">Git Link</label>
                <input
                        type="text"
                        class="form-control"
                        id="gitLink"
                        name="gitLink"
                        th:field="*{gitLink}"
                        placeholder="Git Link">
                <p th:if="${#fields.hasErrors('gitLink')}" class="text-danger" th:errors="*{gitLink}"></p>
            </div>

            <p>Skills</p>
            <div id="skillContainer"></div>
            <button id="btnAddSkill" type="button">Add Skill</button>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    var skillCount = 1;

                    $("#btnAddSkill").on("click", function() {
                        var newSkillInput = $("<input>").attr("type", "text").attr("name", "skills[" + skillCount + "]");
                        var newSkillError = $("<p>").addClass("text-danger").attr("th:if", "${#fields.hasErrors('skills[" + skillCount + "]')}")
                            .attr("th:errors", "*{skills[" + skillCount + "]}");
                        $("#skillContainer").append(newSkillInput);
                        $("#skillContainer").append(newSkillError);
                        skillCount++;
                    });
                });
            </script>
            <button type="submit">Create</button>
        </form>
    </div>
</main>
</body>
</html>