<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Resume Create</title>
</head>
<body>
<main>
    <section layout:fragment="body">
        <div>
            <div>
                <p th:each="error : ${errors}" th:text="${error.defaultMessage}" class="invalid-login"></p>
            </div>
            <form role="form" method="post" th:action="@{/employee/resume/create}" th:object="${resume}">
                <div class="login-username">
                    <label>Job Type</label>
                    <input
                            type="text"
                            class="login-username-input"
                            id="jobType"
                            name="jobType"
                            th:field="*{jobType}"
                            placeholder="Job Type">
                    <p th:if="${#fields.hasErrors('jobType')}" class="text-danger" th:errors="*{jobType}"></p>
                </div>
                <div class="detail-container">
                    <label for="description">Description</label>
                    <textarea
                            type="textarea"
                            class="detail-input"
                            id="description"
                            name="description"
                            th:field="*{description}"
                            placeholder="Description">
                    </textarea>
                    <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
                </div>

                <div class="skills">
                    <p>Skills</p>
                    <div id="skillContainer" class="skill-container"></div>
                </div>


                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var skillCount = 1;

                        $("#btnAddSkill").on("click", function() {
                            var newSkillInput = $("<input>").attr("type", "text")
                                .attr("name", "skills[" + skillCount + "]")
                                .addClass("skill-input")
                                .attr("placeholder", "Skill " + skillCount);

                            $("#skillContainer").append(newSkillInput);
                            skillCount++;
                        });
                    });
                </script>

                <span class="register-login-block">
                    <button id="btnAddSkill" type="button" class="add-skill-button">Add Skill</button>
                    <button type="submit" class="create-button">Create</button>
                </span>
            </form>
        </div>
    </section>
</main>
</body>
</html>